---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Projects from "@components/Projects.astro";
import Articles from "@components/Articles.astro";
---

<!doctype html>
<html lang="en">
  <Head />
  <body>
    <Header />
    <main>
      <Projects />
      <Articles />
    </main>
    <Footer />
  </body>
</html>
