---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Featured from '../components/Featured.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts.ts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <Hero />
      <Projects />
      <Featured />
    </main>
    <Footer />
  </body>
</html>
