---
import Navigation from "./Navigation.astro";
import Social from "./Social.astro";
---

<header>
  <div>
    <Navigation />
    <Social />
  </div>
</header>

<style>
  header {
    top: 0;
    position: sticky;
    z-index: var(--z-sticky);
    background-color: rgb(var(--primary-background));
  }
  header div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
</style>
