---
import { siteConfig } from "@/site-config";
---

<section class="hero">
  <div class="hero-content">
    <h1>{siteConfig.name}</h1>
    <p class="">{siteConfig.tagline}</p>
  </div>
</section>

<style>
  .hero {
    width: 100%;
    padding: var(--s4) var(--s1);
    margin-bottom: var(--s3);
    background: linear-gradient(
      to bottom right,
      rgba(var(--foreground-rgb), 0.05),
      transparent
    );
  }

  .hero-content {
    display: flex;
    margin-inline: auto;
    flex-direction: column;
    align-items: flex-start;
  }

  .tagline {
    color: var(--color-muted);
    max-width: 40ch;
  }

  @media (min-width: 640px) {
    .hero-content {
      align-items: center;
      text-align: center;
    }
  }

  @media (min-width: 768px) {
    .hero {
      padding: var(--s5) var(--s1);
    }
  }
</style>
