---
import { siteConfig } from "../site-config";
const { pathname } = Astro.url;
---

<nav>
  <ul class="nav-links">
    {
      siteConfig.navItems.map(({ href, title }) => (
        <li>
          <a href={href} class="nav-link">
            {title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0.75rem;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: var(--s2);
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    height: 100%;
    display: flex;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    color: rgb(var(--foreground-rgb));
  }

  .nav-link {
    color: rgb(var(--foreground-60));
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0.75rem 1rem;
    border-radius: var(--radius);
    transition: all 0.2s ease;
  }

  .nav-link:hover {
    background-color: rgba(var(--foreground-rgb), 0.05);
  }
</style>
