---
import type { CollectionEntry } from "astro:content";
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import FormattedDate from "@components/ui/FormattedDate.astro";
import HeroImage from "@components/ui/HeroImage.astro";
import "../styles/pretty-code.css";

type Props = CollectionEntry<"blog">["data"];

const { title, pubDate, heroImage } = Astro.props;
---

<html lang="en">
  <Head />
  <body>
    <Header />
    <main>
      <article
        class="post-content"
        itemscope
        itemtype="https://schema.org/Article"
      >
        <header>
          <h1 itemprop="headline">{title}</h1>
          {
            /* Hybrid approach: FormattedDate handles <time> and receives semantic attributes from parent */
          }
          <p>
            <FormattedDate date={pubDate} />
          </p>
          {heroImage && <HeroImage src={heroImage} alt={title} />}
        </header>
        <section itemprop="articleBody">
          <slot />
        </section>
        <footer>
          {
            /* Comments Section Placeholder: Giscus plugin will be integrated here */
          }
          <section id="comments" aria-label="Comments"></section>
        </footer>
      </article>
    </main>
    <Footer />
  </body>
</html>
